<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <profiles>
        <profile>
            <id>postgres</id>
            <repositories>
                <repository>
                    <id>postgres-repository</id>
                    <name>postgreSQL</name>
                    <url>jdbc:postgresql://ec2-54-217-243-228.eu-west-1.compute.amazonaws.com:5432/dcvign3as0qo5t</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>postgres</activeProfile>
    </activeProfiles>
</settings>
